

{%  extends 'base.html' %}

{% block content %}

<div class="box" style="margin-top: 10%;margin-left:25%;width: 50%;height: 200px;border: 2px solid white;border-radius:500px;background:blue;text-align: center;"><h1 style="color:white;text-align: center;margin-top: 10%;">{{num}}</h1></div>

<a href="/increment/" class="btn btn-success" style="margin-left: 40%; margin-top: 5%;">Increment</a>
<a href="/reset/" class="btn btn-warning" style=" margin-top: 5%;">Reset</a>
<a href="/decrement/" class="btn btn-danger" style=" margin-top: 5%;">Decrement</a>

    {% endblock %}